
{% extends "base.html" %}
{% load static %}

{% block content %}
 {% load socialaccount %}
 {% comment %} <!-- <a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook OAuth2</a> --> {% endcomment %}
  <main class="login container">
    {% include "messages.html" %}   

    <h1 class="text-center mt-5 mb-5 animate__animated animate__slideInDown">
      Login
    </h1>

      
    <div class="row">
      <div class="col-md-6 ">
        <img src="{% static './assets/images/login-image.png' %}" class="img-fluid" alt="img">
      </div>
  
      <form  method='POST' action="{% url 'login' %}" class="col-md-5 offset-1">
      {% csrf_token %}
        <div class="form-group">
          <input type="text" name='username' class="form-control" placeholder="User Name">
        </div>

        <div class="form-group">
          <input type="password" name='password' class="form-control" placeholder="Password">
        </div>


        <button type="submit" class="btn btn-accent form-btn w-100 mt-3 mb-3">Signin</button>
        <div class="text-center">
          OR
        </div>
        
        <a href="{% provider_login_url 'facebook' method='oauth2' %}"  class="btn btn-primary form-btn w-100 mt-3">Facebook </a>
        {% comment %} <a href='{% provider_login_url "facebook" method="oauth2" %}' class="btn btn-primary form-btn w-100 mt-3">Facebook</a> {% endcomment %}
        {% comment %} <button class="btn btn-accent form-btn w-100 mt-3 mb-3">Google</button> {% endcomment %}
        <a href="{% provider_login_url 'google'  %}" class="btn btn-accent form-btn w-100 mt-3 mb-3 " > Google</a>

      </form>
    </div>
  </main>

{% endblock content %}
